.container {
  flex-direction: row;
}
.copyright {
  text-align: end;
}
.pic13 {
  align-items: flex-end;
  display: flex;
}
h1{
  font-family: "Fugaz One", cursive;
  text-align: center;
  background-color: white;
  padding: 10px;
  font-size: xx-large;
  color: #5F002B;
}
p {
  font-family: "montaukregular";
  font-size: .85rem;
  color: #5F002B;
}
h3 {
  flex-direction: row;
}
/* nav ul {
  align-self: flex-end;
  font-family: "Fugaz One", cursive;
  text-align: right;
  list-style: none;
}
nav li {
  margin: 0.5rem;
} */
body {
  background: url(/images/bgtexture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.firstrow {
  margin: 5px;
}
.secondrow {
  margin: 5px;
}
.thirdrow {
  margin: 5px;
}
.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8,
.pic9,
.pic10,
.pic11,
.pic12 {
  margin: 10px;
  border: 10px solid white;
}
@media screen and (min-width: 468px) {
  .gallery {
    display: flex;
    align-items: center;
  }
}
figure {
  text-align: right;
}
figcaption {
  font-family: "montaukregular";
  font-size: .9rem;
  color: #5F002B;
}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

.navColor {
  color: #5F002B;
  margin: 5px;
  font-family: 'fugazone';
  font-size: 20px;
  text-decoration: none;
}

li.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: end;

}
.navbr {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
@font-face {
  font-family: "montaukbold";
  src: url("/Fonts/montauk-bold-webfont.woff2") format("woff2"),
    url("/Fonts/montauk-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "montaukregular";
  src: url("/Fonts/montauk-regular-webfont.woff2") format("woff2"),
    url("/Fonts/montauk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montauklight";
  src: url("/Fonts/montauk-light-webfont.woff2") format("woff2"),
    url("/Fonts/montauk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montaukitalic";
  src: url("/Fonts/montauk-italic-webfont.woff2") format("woff2"),
    url("/Fonts/montauk-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'fugazone';
  src: url('/Fonts/fugazone-regular-webfont.woff2') format('woff2'),
       url('/Fonts/fugazone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}